body {
 margin-top: 90px;
 margin-bottom: 90px;
 overflow: auto;
}

.column {
  width: 100px;
}

#footer {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}
.chatbox {
  margin: 90px;
  /*width: 100%;
 height: 100%;*/
}
