.ui.middle.aligned.center.aligned.grid
  .four.wide.column
    h2.ui.teal.image.header
      img.image(src="./images/chat-logo.jpg")
      .content Login to Chat-Example
    form.ui.large.form#name-form
      .ui.segment
        .field
          .ui.left.icon.input
            i.user.icon
            input#name-input(autocomplete='off' autocorrect='off' type="text" name="username" placeholder="Write your username!")
        .ui.fluid.large.teal.submit.button#login-btn Login
    .ui.error.message#warn
            
