doctype
html
  head
    meta(name='viewport' content='width=300')
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet' type='text/css' href='./style/sty2.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src='/script/sock-script.js')
    
