include header.pug
body
  #name
    include components/login.pug
    
  
  #chat.chatbox
    #messages

  #footer.ui.small.menu
      form.ui.form#chat-form
        .fields
          .item
            .field
              input#m(type="text" placeholder="Type your message...")
          .item
            .field
              button#chat-btn.ui.fluid.submit.button(type="submit")="Submit"
          .item
            .right.menu
              .item#notification
