include header.pug
body
  h1 PiperChat
  .container
    .row
      .col-xs-12#name
        #form-group
          form#name-form
            .input-group
              input.form-control#name-input(autocomplete='off' size='20' autocorrect='off')
              span.input-group-btn
                button.btn.btn-primary(size='20')="Log In"
        br
        span.label.label-warning#warn
    .row
      .col-xs-12.cajitadechat#chat
        ul#messages.list-group
        #form-group.navbar-fixed-bottom
          form#chat-form(action="")
            .input-group
              input.form-control#m(autocomplete='off' size='20' autocorrect='off')
              span.input-group-btn 
                button.btn.btn-primary.btn-block(size='20')="Send"
              
        
        
