include header.pug
body

  .container
    #name
      include components/login.pug
      
    
    #chat.chatbox
      #messages

    #footer.ui.small.menu
        form.ui.form#chat-form
          .fields
            .item
              .field
                input#m(type="text" placeholder="Type your message...")
            .item
              .field
                button.ui.fluid.submit.button(type="submit")="Submit"
            .item
              .right.menu
                .item#notification
